body {
	/* background-color: #fef6e4; */
	background: #D8EEFE;
	font-size: 18px;
	font-family: Poppins;
	margin: 16px;
}
@media (min-width: 779px) {
	body {
		max-width: 70%;
		min-width: 70%;
		margin: auto;
	}
}
body > header > form {
	display: flex;
	gap: 20px;
	margin-bottom: 16px;
}
body > header > div { 
	display: flex;
	margin-bottom: 2rem;
	margin-top: 2rem;
	
}
h1 {
	margin: 0;
	/* text-transform: uppercase; */
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 76px;
/* identical to box height */
	color: #094067;
	
}
.add {
	background: #EF4565;
	border-radius: 5px;
	/* font-family: Rubik; */
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	border: none;
	color: #FFFFFE;
	padding: 15px 20px;
	cursor: pointer;
	outline: none;
}
.add:hover {
	color: #FFFFFE;
} 
.search, .select, .reset-filters {
	padding: 15px 20px;
	background: #FFFFFE;
	border-radius: 5px;
	border: none;
	font-weight: 500;
	font-size: 18px;
	/* line-height: 21px; */

	color: #5F6C7B;
	outline: none;
	cursor: pointer;
}
thead {
	background-color:#EF4565;
	background-repeat: no-repeat;
	background-size: cover;
}
th img {
	width: 100px;
	border-radius: 5px;
}


.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: none;
}
.table {
	max-width: 100%;
    min-width: 100%;
}
thead {
	color: white;
}

button {
    border: none;
    background-color: transparent;
}

.even, .odds {
	background-color: #fffffe;
	color: #5F6C7B;
}

.birthday {
	/* animation: mymove 5s infinite; */
	background-color: rgb(252, 235, 5);
	color: black;
}

.age {
	color: #EF4565;
}
.days {
	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	/* font-size: 24px; */
	line-height: 28px;

	color:  #f86781;
}



tr {
	border-radius: 5px;
}
table {
    border-collapse: separate;
    border-spacing:0 31px;
}
.upcoming_birthday {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}
.upcoming_birthday > span {
	align-self: center;
}
/* popup */

.popup {
	background: rgba(255, 255, 255, 0.8);
	position: fixed;
	/* transition: all; */
	height: 100vh;
	width: 100vw;
	transition: all 0.25s;
	top: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	left: 0;
}

@keyframes bgmove {
	0%     {background-color: hsla(180, 98%, 49%, 0.445);}
	10.0% {background-color: hsla(0, 9%, 98%, 0.5);}
	25.0% {background-color: hsla(61, 98%, 50%, 0.5);}
	35.0% {background-color: hsla(0, 98%, 51%, 0.5);}
	50.0%  {background:  rgba(4, 252, 25, 0.5);}
	75.0%  {background-color: hsla(244, 89%, 49%, 0.5);}
	85.0% {background-color: hsla(0, 100%, 2%, 0.5);}
    100.0%  {background: hsla(310, 96%, 50%, 0.5);}
  }

.popup fieldset {
	padding: 2rem;
	border: 2px solid whitesmoke;
	background-color: white;
	border-radius: 5px;
	transition: all 0.2s;
	box-shadow: 0px 0px 0 #899CD5, 1px 1px 0 #c4d1fa, 2px 2px 0 #f14be9, 3px 3px 0 #6F82BB;
}

.popup.open {
	opacity: 1;
	pointer-events: all;
}
.options-btn {
	display: flex;
}

.popup button {
	background-color: blue;
	position:relative;
	background-image: linear-gradient(bottom, rgb(70, 71, 68) 0%, rgb(58, 58, 58) 100%);
	box-shadow: inset 0px 1px 0px #404140, 0px 6px 0px #4d4e4d;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 5px;
	opacity: 0.9;
	margin: 1rem;

}


.popup button:active {
	top:7px;
	background-image: linear-gradient(bottom, rgb(52, 53, 51) 100%, rgb(74, 75, 74) 0%);
	box-shadow: inset 0px 1px 0px #404140, inset 0px -1px 0px #4d4e4c;
	color: #156785;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
	background: rgb(44,160,202);
}
.popup button:nth-of-type(1) {
	margin-left: 0;
}

.popup button:nth-of-type(2) {
	margin-right: 0;
}
.popup button:hover {
	background-color: red;
}

fieldset {
	display: flex;
}

input {
	padding: 8px;
	border: 1px solid brown;
	font-size: 16px;
	color: gray;
	border-radius: 5px;
}
.popup strong {
	font-size: 20px;
	font-weight: 700;
	color: goldenrod;
}


.select {
	display: inline-block;
    width: auto;
    vertical-align: middle;
}

  .buttons {
	display: flex;
    justify-content: space-between;
  }